body {
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

svg {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #2D2D2D;
    border-radius: 10px;
}

.angle {
    opacity: 0%;
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    background-color: #E5E5E5;
    padding: 4px;
    border-radius: 50px;
    pointer-events: none;
    transition: opacity 0.25s;
}

.container:hover > .angle {
    opacity: 100%;
}

.code {
    box-sizing: border-box;
    padding: 4px;
    margin-top: 10px;
    width: 400px;
    height: 25px;
    background-color: #444444;
    border-radius: 10px;
    color: white;
    resize: none;
    font-family: 'Courier New', monospace;
    border: none;
}

button {
    box-sizing: border-box;
    padding: 4px;
    margin-top: 5px;
    width: 400px;
    height: 25px;
    background-color: #2D2D2D;
    border-radius: 10px;
    color: white;

    border: none;
    cursor: pointer;
    transition: 0.33s;

}

.copy:active {
    opacity: 75%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.helloworld {
    color: black;
    opacity: 10%;
}

@media only screen and (max-device-width:480px) {
    .container::before {
        opacity: 50%;
        margin-bottom: 10px;
        content: "You are on mobile, and unfortunately dragging the points does not work on mobile just yet.";
    }
}
